## Bintang Putra Sadewa
### 2209106110
Posttest 2

### Import Library dan baca Dataset

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('drug200.csv')

df

### 1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [ ]:
kolom_numerik = ['Age', 'Na_to_K']

statistik = df[kolom_numerik].describe(percentiles=[0.25, 0.5, 0.75])
print(statistik)

### 2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [ ]:
print(df[kolom_numerik].head(10))

### 3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka.

In [ ]:
record = df.shape[0]
attribut = df.shape[1]
nama_attribut = df.columns.tolist()
Jumlah_Attribut = len(kolom_numerik)

print(f"Jumlah record: {record}")
print(f"Jumlah attribute: {attribut}")
print(f"Nama attribute: {nama_attribut}")
print(f"Jumlah attribute bertipe angka: {Jumlah_Attribut}")

### 4. Tampilkan jumlah label dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).

In [ ]:
kategori_kolom = df.select_dtypes(include=['object']).columns
kategori_counts = df[kategori_kolom].nunique()

print(kategori_counts)

### 5. Visualisasikan dataset dengan salah satu grafik. Pilih grafik yang paling cocok untuk memvisualisasikan data tersebut.

In [ ]:
plt.figure(figsize=(10, 6))
sns.countplot(x='Drug', data=df)
plt.title("Distribusi Obat dalam Dataset")
plt.show()

### 6. Tampilkan korelasi dataset menggunakan heatmap

In [ ]:
correlation_matrix = df[kolom_numerik].corr()

plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", linewidths=0.5)
plt.title("Heatmap Korelasi")
plt.show()

### 7. Tulis kesimpulan dari hasil analisis dan visualisasi data

- dari statistik deskriptif terlihat bahwa atribut Age memiliki nilai minimum 15 tahun dan maksimum 74 tahun, dengan rata-rata sekitar 44,91 tahun. Sedangkan untuk atribut Na_to_K, rentangnya berkisar antara 6,269 hingga 38,247 dengan rata-rata 16,083
- visualisasi distribusi obat menunjukkan bahwa DrugY adalah obat yang paling sering diresepkan dalam dataset ini, diikuti oleh drugX, drugC, drugA, dan drugB
- dataset berisi 200 record dengan 6 atribut, di mana 2 atribut **Age** dan **Na_to_K** bertipe numerik