# Bintang Putra Sadewa
### 2209106110

## Import Library dan baca Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('drug200.csv')

df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

## 1. Data Cleaning

In [2]:
missing_values = df.isnull().sum()
print("Missing VAlue Per Kolom: ")
print(missing_values)

Missing VAlue Per Kolom:
Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

## 2. Normalisasi/standarisasi kolom numerik

In [3]:
from sklearn.preprocessing import MinMaxScaler

# Inisialisasi MinMaxScaler untuk normalisasi (rentang 0-1)
scaler = MinMaxScaler()

# Normalisasi kolom 'Na_to_K'
df['Na_to_K_normalized'] = scaler.fit_transform(df[['Na_to_K']])

print(df[['Na_to_K', 'Na_to_K_normalized']])

     Na_to_K  Na_to_K_normalized
0     25.355            0.596848
1     13.093            0.213397
2     10.114            0.120239
3      7.798            0.047814
4     18.043            0.368191
..       ...                 ...
195   11.567            0.165676
196   12.006            0.179405
197    9.894            0.113359
198   14.020            0.242385
199   11.349            0.158859

[200 rows x 2 columns]

## 3. Encoding kolom kategorikal

In [4]:
from sklearn.preprocessing import LabelEncoder

# Inisialisasi LabelEncoder
label_encoder = LabelEncoder()

# Encoding kolom kategorikal 'Sex', 'BP', 'Cholesterol', dan 'Drug'
df['Sex_encoded'] = label_encoder.fit_transform(df['Sex'])
df['BP_encoded'] = label_encoder.fit_transform(df['BP'])
df['Cholesterol_encoded'] = label_encoder.fit_transform(df['Cholesterol'])
df['Drug_encoded'] = label_encoder.fit_transform(df['Drug'])

# Menampilkan kolom baru setelah encoding
print(df[['Sex', 'Sex_encoded', 'BP', 'BP_encoded', 'Cholesterol', 'Cholesterol_encoded', 'Drug', 'Drug_encoded']])

    Sex  Sex_encoded      BP  BP_encoded Cholesterol  Cholesterol_encoded  \
0     F            0    HIGH           0        HIGH                    0
1     M            1     LOW           1        HIGH                    0
2     M            1     LOW           1        HIGH                    0
3     F            0  NORMAL           2        HIGH                    0
4     F            0     LOW           1        HIGH                    0
..   ..          ...     ...         ...         ...                  ...
195   F            0     LOW           1        HIGH                    0
196   M            1     LOW           1        HIGH                    0
197   M            1  NORMAL           2        HIGH                    0
198   M            1  NORMAL           2      NORMAL                    1
199   F            0     LOW           1      NORMAL                    1

      Drug  Drug_encoded
0    DrugY             0
1    drugC             3
2    drugC             3
3    drugX             4
4    DrugY             0
..     ...           ...
195  drugC             3
196  drugC             3
197  drugX             4
198  drugX             4
199  drugX             4

[200 rows x 8 columns]

In [5]:
# Menggunakan pandas get_dummies untuk one-hot encoding
df_oneHot = pd.get_dummies(df, columns=['Sex', 'BP', 'Cholesterol', 'Drug'])

# Menampilkan hasil one-hot encoding
print(df_oneHot.head())

   Age  Na_to_K  Na_to_K_normalized  Sex_encoded  BP_encoded  \
0   23   25.355            0.596848            0           0
1   47   13.093            0.213397            1           1
2   47   10.114            0.120239            1           1
3   28    7.798            0.047814            0           2
4   61   18.043            0.368191            0           1

   Cholesterol_encoded  Drug_encoded  Sex_F  Sex_M  BP_HIGH  BP_LOW  \
0                    0             0   True  False     True   False
1                    0             3  False   True    False    True
2                    0             3  False   True    False    True
3                    0             4   True  False    False   False
4                    0             0   True  False    False    True

   BP_NORMAL  Cholesterol_HIGH  Cholesterol_NORMAL  Drug_DrugY  Drug_drugA  \
0      False              True               False        True       False
1      False              True               False       False       False
2      False              True               False       False       False
3       True              True               False       False       False
4      False              True               False        True       False

   Drug_drugB  Drug_drugC  Drug_drugX
0       False       False       False
1       False        True       False
2       False        True       False
3       False       False        True
4       False       False       False

## 4. Feature engineering (minimal 1 feature baru)

In [6]:
# Kita akan menganggap 'HIGH' pada kolesterol sebagai 2, 'NORMAL' sebagai 1
df['Cholesterol_num'] = df['Cholesterol'].apply(lambda x: 2 if x == 'HIGH' else 1)

# Membuat fitur baru 'Na_to_Cholesterol_ratio'
df['Na_to_Cholesterol_ratio'] = df['Na_to_K'] / df['Cholesterol_num']

# Menampilkan hasil dari fitur baru
print(df[['Na_to_K', 'Cholesterol', 'Na_to_Cholesterol_ratio']])

     Na_to_K Cholesterol  Na_to_Cholesterol_ratio
0     25.355        HIGH                  12.6775
1     13.093        HIGH                   6.5465
2     10.114        HIGH                   5.0570
3      7.798        HIGH                   3.8990
4     18.043        HIGH                   9.0215
..       ...         ...                      ...
195   11.567        HIGH                   5.7835
196   12.006        HIGH                   6.0030
197    9.894        HIGH                   4.9470
198   14.020      NORMAL                  14.0200
199   11.349      NORMAL                  11.3490

[200 rows x 3 columns]

## 5. Splitting data ke dalam data training & data testing

In [7]:
from sklearn.model_selection import train_test_split

# Memisahkan feature (X) dan target (y) menggunakan iloc
X = df.iloc[:, :-1]  # Feature
y = df.iloc[:, -1]   # target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Menampilkan ukuran data training dan data testing
print("Ukuran data training:", X_train.shape)
print("Ukuran data testing:", X_test.shape)

Ukuran data training: (160, 12)
Ukuran data testing: (40, 12)